.main {    
    width: 100%;
    max-width: 880px;
    margin: 0 19px 0;
    padding-top: 40px;
    box-sizing: border-box;
}

@media screen and (max-width: 920px) {
    .main {
        max-width: 581px;
    }
}

@media screen and (max-width: 600px) {
    .main {
        max-width: 282px;
        padding-top: 42px;
    }
}
